*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
	margin: 0px;
}

body{
	min-height: 100%;
	font-size: 1.25rem;
	font-family: 'Oswald', sans-serif;
	color: #fff;
}

.blocitoff-container{
	margin: 2rem auto;
	width: 65%;
	border: 0.75rem solid #05668D;
	border-radius: 0.75rem;
}

h1.app-title{
	font-size: 1.2rem;
	padding: 0.5rem;
	padding-top: 0rem;
	margin: 0rem;		
	background-color: #05668D;
}

.task-view-title{
	margin: 0rem;
	padding: 0.5rem;
	background-color: #028090;
}

.task-list{
	min-height: 15rem;
	padding-bottom: 3rem;
}

.task-item{
	height: 3rem;
	margin: 0rem;
	padding: 0.75rem;
	background-color: #00A896;
}

.task-item.completed{
	background-color: #777777;
	text-decoration: line-through;
}
.task-item.expired{
	background-color: #ccc;
}

.task-item p{
	display: inline;
}

.task-priority-indication{
	font-size: 1rem;
	margin-right: 0.5rem;
	padding: 0rem;
}

.task-actions{
	float: right;
	margin-left: 10px; 
}

.add-task-item{
	margin: 0rem auto;
}

input,
select,
button{
	height: 3rem;
	display: inline-block;
	float: left;
	font-family: 'Oswald', sans-serif;
	font-size: 0.75rem;
}

input,
select{
	padding: 0.5rem;
}

button{
	padding: 0rem;
}

#taskInput{
	width: 55%;
}

#taskPriorityInput{
	width: 25%;
	background-color: #fff;
	border-radius: 0rem;
	-moz-appearance:none;
	-webkit-appearance:none;
	appearance:none;
}

#addTaskButton{
	width: 20%;
	background-color: #777777;
	color: #FFF;
	border: none;
}

.footer-nav{
	background-color: #05668D;
	padding: 0.5rem;
}

.footer-nav a{
	font-size: 0.75rem;
	color: #FFF;
	text-decoration: none;
	cursor: pointer;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

/* Small and Medium screens (<=640px) */
@media (max-width: 40rem) {
	html { font-size: 120%; }
	.blocitoff-container{
		margin: 0rem auto;
		padding: 0rem;
		width: 95%;
	}
}
